* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.wrapper {
    max-width: 700px;
    height: 520px;
    overflow: hidden;
    background-color: rgb(38, 35, 35);
    border: 20px solid rgb(38, 35, 35);
    border-top: 20px solid rgb(38, 35, 35);
    border-bottom: 0;
    border-radius: 30px;
    box-shadow: 0 0 50px rgb(38, 35, 35);
    position: relative;
    margin: 0 30px;
}
.slides {
    width: 400%;
    height: 70%;
    display: flex;
}

.nav {
    display: flex;
    margin-top: 12px;
    background:  rgb(38, 35, 35);
    position: relative;
    width: fit-content;
    height: 100%;
    margin-left: auto;
}

.bar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin: 0;
    cursor: pointer;
    background: none;
    position: relative;
    
}

.bar::before {
    border-radius: 50%;
    content: '';
    position: relative;
    width: 15px;
    height: 15px;
    background: #71ABFF;
    display: block;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.bar::after {
    border-radius: 50%;
    content: '';
    position: relative;
    width: 10px;
    height: 10px;
    background: #71ABFF;
    display: block;
    transform: translate(-50%, 50%);
    top: -35%;
    left: 50%;
}

.bar:hover.bar::before{
    background: #fff;
}
.bar:hover.bar::after{
    background: #fff;
}

input[name="radio"] {
    display: none;
}

.slide {
    width: 25%;
    transition: all .7s ease;
}

.slide img {
    width: 100%;
    height: 370px;
    border-radius: 30px;
}

.slide p {
    color: white;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#rad1:checked ~ .slides .s1 {
    margin-left: 0;
}
#rad2:checked ~ .slides .s1 {
    margin-left: -25%;
}
#rad3:checked ~ .slides .s1 {
    margin-left: -50%;
}
#rad4:checked ~ .slides .s1 {
    margin-left: -75%;
}

#rad1:checked ~ .nav .b1::after {
    background: rgb(38, 35, 35);
}
#rad2:checked ~ .nav .b2::after {
    background: rgb(38, 35, 35);
}
#rad3:checked ~ .nav .b3::after {
    background: rgb(38, 35, 35);
}
#rad4:checked ~ .nav .b4::after {
    background: rgb(38, 35, 35);
}


@media screen and (max-width: 700px) {
    .wrapper {
        max-width: 500px;
        height: 400px;
    }

    .slide img {
        height: 250px;
    }

    .nav {
        height: unset;
        width: unset;
        justify-content: center;
    }
    .slide p {
        margin-top: 75px;
    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        max-width: 370px;
        height: 280px;
    }
    .slides {
        height: 65%;
    }
    .nav {
        margin-top: 0;
    }
    .slide img {
        height: 150px;
    }
    .slide p {
        margin-top: 75px;
    }
}
